<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Velkommen til DIKU's RevyØvePlanlægger(RØP)</title>
    </head>

    <body>
        <h1>RevyØvePlanlægger(RØP)</h1>
        <strong>Øvedage</strong><br />
        {% if øvedage %}
            <ul>
                {% for øvedag in øvedage %}
                <li>{{ øvedag.dato }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Der er ingen øvedage i databasen.</strong>
        {% endif %}

        <a href="/scheduler/about/">About</a><br />
	<img src="{% static "logo.png" %}" alt="DIKURevyens logo" /> <!-- New line -->
    </body>

</html>
