<!DOCTYPE html>
<html>
    <head>
        <title>Tilføj øvedag</title>
    </head>

    <body>
        <h1>Tilføj en øvedag</h1>

        <form id="øvedag_form" method="post" action="/scheduler/tilfoj_ovedag/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Opret øvedag" />
        </form>
    </body>

</html>
