<!DOCTYPE html>
<html>
    <head>
        <title>{{ øvedag_dato }}</title>
    </head>

    <body>
        <h1>{{ øvedag_dato }}</h1>
        {% if øvedag %}
            {% if lokaler %}
            <ul>
                {% for lokale in lokaler %}
                <li><a href="{{ page.url }}">{{ lokale.lokalenavn }}</a></li>
                {% endfor %}
            </ul>
            <a href="/scheduler/tilfoj_lokale/">Tilføj lokale</a> - <a href="/scheduler/fjern_lokale/">Fjern lokale*</a>
            {% else %}
                <strong>Ingen lokaler registreret for denne øvedag. </strong><br /> 
                <a href="/scheduler/tilfoj_lokale/">Klik her for at tilføje et</a>, eller <a href="/scheduler/tilfoj_ovedag/">tryk her for at importere lokaler fra en tidligere øvedag.</a>
            {% endif %}
        {% else %}
            {{ øvedag_dato }} er ikke registreret som en øvedag. Klik her for at tilføje den.
        {% endif %}
    </body>
</html>
